{% extends "template.html" %}
{% block content %}
  {% for post in posts.items %}
  <div class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='image/' + post.author.photo_profile) }}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a href="{{ url_for('user_post', username=post.author.username) }}" class="mr-2">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%d %b, %Y') }}</small>
      </div>
      <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </div>
  {% endfor %}
  {% for page in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page %}
      {% if page == posts.page %}
        <a class="btn btn-info mb-4" href="{{ url_for('home', page=page) }}">{{ page }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page) }}">{{ page }}</a>
      {% endif %}
      {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content%}
