{% extends 'template.html' %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
</div>
<div>
  <h5>Total Post: {{ posts.total }}</h5>
</div>
  {% for post in posts.items %}
  <div class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a href="#" class="mr-2">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%d %b, %Y') }}</small>
      </div>
      <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </div>
  {% endfor %}
  {% for page in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page %}
      {% if page == posts.page %}
        <a class="btn btn-info mb-4" href="{{ url_for('home', page=page) }}">{{ page }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page) }}">{{ page }}</a>
      {% endif %}
      {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
