[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
certifi = "==2019.6.16"
chardet = "==3.0.4"
idna = "==2.8"
urllib3 = "==1.26.5"
django = "*"

[requires]
python_version = "3.6"
